<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Bank Deposit</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!--===============================================================================================-->
        <!-- <link rel="icon" type="image/png" href="images/icons/favicon.ico"/> -->
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css" />
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="/fonts-1/font-awesome-4.7.0/css/font-awesome.css" />
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="/css/main.css" />
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="/css/style_2.css" />
        <link rel="stylesheet" type="text/css" href="/toastr/toastr.min.css" />
        <!--===============================================================================================-->
    </head>


    <body>
        <div class="limiter">
            <div class="container-profile100">
                <div class="header">
                    <div class="cover-image100">
                        <img src="/logo/logo.png" class="pep-logo" alt="" />
                        <a href="#">
                            <span class="fa fa-bars menu-button" onclick="openMenu()"></span>
                        </a>
                        <a href="/user/notification">
                            <span class="fa fa-bell menu-button">
                                <span class="button__badge" style="display: none;"></span>
                            </span>
                        </a>
                        <nav id="menu">
                            <ul>
                                <li>
                                    <a href="/user/signout">
                                        <span class="fa fa-sign-out"> </span> Log Out</a>
                                </li>
                            </ul>
                            <span class="fa fa-times close-menu" onclick="closeMenu()"></span>
                        </nav>
                    </div>
                    <div class="companybank ">
                        <h1>PEP Bank Details</h1>
                        <%companyDetails.map(bank=>{%>
                            <div class="companybankdetails">
                                <div class="row ">
                                    <div class="col-sm-3 mb-3 ">
                                        <h6 class="mb-2 font-weight-bold">Bank Name
                                        </h6>
                                    </div>
                                    <div class="col-sm-9 ">
                                        <%= bank.Banks_List.bankName %>
                                    </div>
                                </div>
                                <div class="row ">
                                    <div class="col-sm-3 mb-3 ">
                                        <h6 class="mb-2 font-weight-bold">Branch Code
                                        </h6>
                                    </div>
                                    <div class="col-sm-9 ">
                                        <%= bank.bankBranchCode %>
                                    </div>
                                </div>
                                <div class="row ">
                                    <div class="col-sm-3 mb-3 ">
                                        <h6 class="mb-2 font-weight-bold">IBAN no#
                                        </h6>
                                    </div>
                                    <div class="col-sm-9 ">
                                        <%= bank.bankIBAN %>
                                    </div>
                                </div>
                                <div class="row ">
                                    <div class="col-sm-3 mb-3 ">
                                        <h6 class="mb-2 font-weight-bold">Account no#
                                        </h6>
                                    </div>
                                    <div class="col-sm-9 ">
                                        <%= bank.bankAccount %>
                                    </div>
                                </div>
                                <div class="row ">
                                    <div class="col-sm-3 mb-3 ">
                                        <h6 class="mb-2 font-weight-bold">Bank Address
                                        </h6>
                                    </div>
                                    <div class="col-sm-9 ">
                                        <%= bank.bankAddress %>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <% }) %>
                    </div>
                    <div class="userbank">
                        <h1> Enter your Transaction Details</h1>

                        <div class="usertransaction">
                            <div class="form-group row">
                                <label for="transactionid" class="col-sm-3 col-form-label">Activity ID</label>
                                <div class="col-sm-9">
                                    <input type="text" disabled id="activityUUID"
                                        value="<%=activityDetails.dataValues.list_act_uuid%>" class="form-control ">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="transactionid" class="col-sm-3 col-form-label">Amount of Activity</label>
                                <div class="col-sm-9">
                                    <input type="number" disabled id="totalAmount" class="form-control ">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="drop" class="col-sm-3 col-form-label"> Bank Name</label>
                                <div class="col-sm-9">

                                    <select id="banknames" class="content form-control">
                                        <option disabled selected value="undefined">Choose One</option>
                                        <% bankList.map(bank=> {%>
                                            <option value="<%=bank.Banks_List_uuid%>">
                                                <%=bank.bankName%>
                                            </option>
                                            <% }) %>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="transactionid" class="col-sm-3 col-form-label">Transaction ID</label>
                                <div class="col-sm-9">
                                    <input type="text" id="transactionid" class="form-control ">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="tranactionAmount" class="col-sm-3 col-form-label">Amount</label>
                                <div class="col-sm-9">
                                    <input type="number" class="form-control" id="tranactionAmount">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="tranaction_date" class="col-sm-3 col-form-label">Date</label>
                                <div class="col-sm-9">
                                    <input type="datetime-local" class="form-control" id="tranaction_date">
                                </div>
                            </div>
                            <button id="transaction_BTN" class="custom-btn">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--===============================================================================================-->
        <script src="/vendor/jquery/jquery-3.2.1.min.js"></script>
        <!--===============================================================================================-->
        <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
        <!--===============================================================================================-->
        <script src="/vendor/jquery/tilt.jquery.min.js"></script>

        <script src="/toastr/toastr.min.js"></script>
        <script>
            var menu = document.getElementById("menu");
            function openMenu() {
                menu.style.top = "0";
            }
            function closeMenu() {
                menu.style.top = "-100vh";
            }


            const total = JSON.parse('<%-JSON.stringify(sumOf_Activities)%>');
            $('#totalAmount').val(total.SumofValues.toFixed(0))


            // ---------------------- Start of validating the inputs
            $('#transaction_BTN').on('click', (e) => {

                const depositedAmount = parseInt($('#tranactionAmount').val()),
                    totalAmount = parseInt($('#totalAmount').val())

                if ($('#banknames').find(":selected").val() === 'undefined') {
                    toastr.error('Please select Bank')
                    return;
                }
                if (depositedAmount < totalAmount) {
                    toastr.error('Please enter the correct amount.')
                    $('#tranactionAmount').val('')
                    return;
                }
                if ($('#transactionid').val().length <= 0) {
                    toastr.error('Please enter the transaction ID.')
                    return;
                }
                if ($('#tranaction_date').val() === "") {
                    toastr.error('Please enter the transaction Date and Time.')
                    return;
                }

                const bankList = JSON.parse('<%-JSON.stringify(bankList)%>'),
                    selectBank = $('#banknames').find(":selected").val();
                var bankFound = false, bankName = '';

                bankList.map(bank => {
                    if (bank.Banks_List_uuid === selectBank) {
                        bankFound = true;
                        bankName = bank.bankName;
                        return;
                    }
                })
                if (bankFound) {
                    toastr.info('Please wait. Submitting...')
                    $.ajax({
                        type: "POST",
                        url: `${window.location.origin}/BankDeposit `,
                        data: {
                            bankName,
                            depositedAmount,
                            totalAmount: JSON.parse('<%-JSON.stringify(sumOf_Activities)%>').SumofValues.toFixed(0),
                            transactionid: $('#transactionid').val(),
                            tranaction_date: $('#tranaction_date').val(),
                            activityID: "<%=activityDetails.dataValues.list_act_id%>"
                        },
                        dataType: "json",
                        success: (response) => {
                            toastr.success(response.status)
                        },
                        error: (error) => {
                            toastr.error(error.responseJSON.error)
                        }
                    });
                }
                else {
                    toastr.error('Please select correct bank.')
                    return;
                }
            })
        </script>
    </body>

</html>