<!DOCTYPE html>
<html lang="en">

    <head>
        <title>My Sales</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" type="text/css" href="<%=url%>/vendor/bootstrap/css/bootstrap.min.css" />
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="<%=url%>/fonts-1/font-awesome-4.7.0/css/font-awesome.css" />
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="<%=url%>/css/main.css" />
        <!--===============================================================================================-->

        <link rel="stylesheet" type="text/css" href="<%=url%>/css/style_2.css" />
        <link rel="stylesheet" type="text/css" href="<%=url%>/toastr/toastr.min.css" />
    </head>
    <style>
        /* Create the blue navigation bar */
        /* Define what each icon button should look like */


        /* Make the badge float in the top right corner of the button */
    </style>

    <body>
        <div class="limiter">
            <div class="container-profile100">
                <div class="header">
                    <div class="cover-image100">
                        <img src="<%=url%>/logo/logo.png" class="pep-logo" alt="" />
                        <a href="#">
                            <span class="fa fa-bars menu-button" onclick="openMenu()"></span>
                        </a>
                        <a href="<%=url%>/user/notification">
                            <span class="fa fa-bell menu-button">
                                <span class="button__badge" style="display: none;"></span>
                            </span>
                        </a>
                        <nav id="menu">
                            <ul>
                                <% permissions.forEach(element=> { %>
                                    <li>
                                        <a href="<%=url%>/user<%= element.controller %>/<%=info.uuid%>">
                                            <span class="<%= element.icon%>"></span>
                                            <%= element.permission_name %>
                                        </a>
                                    </li>
                                    <% }); %>
                                        <li>
                                            <a href="<%=url%>/user/signout">
                                                <span class="fa fa-sign-out"> </span> Log Out</a>
                                        </li>
                            </ul>
                            <span class="fa fa-times close-menu" onclick="closeMenu()"></span>
                        </nav>
                    </div>
                    <div class="sales" id="sales">
                        <div class="saletitle text-center p-3 ">
                            <h3>SALES</h3>
                        </div>
                        <div class="row allSales">
                            <div class="col-sm salesTabs" style="margin-left: 2%;">
                                <div class="card" style="width: 18rem;">

                                    <div class="card-body">
                                        <h5 class="card-title">Total Income</h5>
                                        <h6 class="card-subtitle mb-2 text-muted" id="totalIncome">

                                        </h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm salesTabs">
                                <div class="card" style="width: 18rem;">
                                    <div class="card-body">
                                        <h5 class="card-title">Commission</h5>
                                        <h6 class="card-subtitle mb-2 text-muted" id="totalCommission">

                                        </h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm salesTabs">

                                <div class="card" style="width: 18rem;">
                                    <div class="card-body">
                                        <h5 class="card-title">Total Acitivities</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">
                                            <%= totalActivities %>
                                        </h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="flexcontainer">
                        <div class="d-flex flex-column mb-4 mt-3">
                            <%for(const subActivity of subActivities){ %>
                                <div class="row mt-2 mb-2 activitiesName w-100">
                                    <%for(const agencyName of dbResponse){ %>
                                        <% if(subActivity.list_act_id===agencyName.list_act_id) {%>
                                            <div class="col-sm-3">
                                                <div class="p-2">
                                                    <%=agencyName.Agency_Info.agency_name %>
                                                </div>
                                            </div>
                                            <div class="col-sm-7">
                                                <div class="p-2"></div>
                                            </div>
                                            <div class="col-sm-2">
                                                <div class="p-2 float-right">
                                                    <a class=" viewDetailsOfActivity"
                                                        href="<%=url%>/user/completedActivity/<%=agencyName.list_act_uuid %>">View
                                                        details</a>
                                                </div>
                                            </div>
                                            <% break %>
                                                <% } %>
                                                    <% } %>
                                </div>
                                <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--===============================================================================================-->
        <script src="<%=url%>/vendor/jquery/jquery-3.2.1.min.js"></script>
        <!--===============================================================================================-->
        <script src="<%=url%>/vendor/bootstrap/js/bootstrap.min.js"></script>
        <!--===============================================================================================-->
        <script src="<%=url%>/vendor/jquery/tilt.jquery.min.js"></script>

        <script src="<%=url%>/toastr/toastr.min.js"></script>
        <script>
            $('.js-tilt').tilt({
                scale: 1.1
            })
            $('#tost').on('click', (e) => {
                window.location = '/login'
            })
            var menu = document.getElementById("menu");
            function openMenu() {
                menu.style.top = "0";
            }
            function closeMenu() {
                menu.style.top = "-100vh";
            }

            var notificationCount = JSON.parse('<%-JSON.stringify(unreadNotificationCount)%>')
            if (notificationCount) {
                $('.button__badge').css('display', 'block')
                $('.button__badge').html(JSON.parse('<%-JSON.stringify(unreadNotificationCount)%>'))
            }

            var activitiesSum = JSON.parse('<%-JSON.stringify(subActivities)%>')

            var commission = 0.0;
            var totalIncome = 0.0;
            activitiesSum.map(data => {
                commission += data.Commission
                totalIncome += parseInt(data.SumofValues)
            })

            $('#totalIncome').html(totalIncome + " PKR")
            $('#totalCommission').html(commission.toFixed(0) + " PKR")
        // toastr.success("Hello")
        </script>
        <!--===============================================================================================-->

    </body>

</html>