<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Withdrawal</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!--===============================================================================================-->
        <!-- <link rel="icon" type="image/png" href="images/icons/favicon.ico"/> -->
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="<%=url%>/vendor/bootstrap/css/bootstrap.min.css" />
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="<%=url%>/fonts-1/font-awesome-4.7.0/css/font-awesome.css" />
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="<%=url%>/css/main.css" />
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="<%=url%>/css/style_2.css" />
        <link rel="stylesheet" type="text/css" href="<%=url%>/toastr/toastr.min.css" />
        <!--===============================================================================================-->
    </head>

    <body>
        <div class="limiter">
            <div class="container-profile100">
                <div class="header w-100">
                    <div class="cover-image100">
                        <img src="<%=url%>/logo/logo.png" class="pep-logo" alt="" />
                        <a href="#">
                            <span class="fa fa-bars menu-button" onclick="openMenu()"></span>
                        </a>
                        <a href="<%=url%>/user/notification">
                            <span class="fa fa-bell menu-button">
                                <span class="button__badge" style="display: none;"></span>
                            </span>
                        </a>
                        <nav id="menu">
                            <ul>
                                <% permissions.forEach(element=> { %>
                                    <li>
                                        <a href="<%=url%>/user<%= element.controller %>/<%=info.uuid%>">
                                            <span class="<%= element.icon%>"></span>
                                            <%= element.permission_name %>
                                        </a>
                                    </li>
                                    <% }); %>
                                        <li>
                                            <a href="<%=url%>/user/signout">
                                                <span class="fa fa-sign-out"> </span> Log Out</a>
                                        </li>
                            </ul>
                            <span class="fa fa-times close-menu" onclick="closeMenu()"></span>
                        </nav>
                    </div>

                    
                    <div class="container salesup">
                        <h3 class="col-12 text-center m-auto">Withdrawals</h3>
                            </div>
                            <div class="mt-3"></div>

                        <div class="row sales p-3 col-12 text-center m-auto" id="withdraw ">
                            <div class="col-sm mb-2">
                                <div class="card ">
                                    <div class="card-body ">
                                        <h4 class="card-title ">Total Income</h4>
                                        <h6 class="card-subtitle text-muted " id="totalIncome">

                                        </h6>

                                    </div>
                                </div>
                            </div>

                            <div class="col-sm mb-2">
                                <div class="card ">
                                    <div class="card-body ">
                                        <h4 class="card-title ">Total Commission</h4>
                                        <h6 class="card-subtitle text-muted " id="totalCommission">

                                        </h6>

                                    </div>
                                </div>
                            </div>



                            <div class="col-sm mb-2">
                                <div class="card">
                                    <div class="card-body ">
                                        <h4 class="card-title ">Available Amount</h4>
                                        <h6 class="card-subtitle  text-muted font-weight-bold" id="availableAmount">

                                        </h6>

                                    </div>
                                </div>
                            </div>

                            <div class="col-sm mb-2 ">
                                <div class="card">
                                    <div class="card-body ">
                                        <h4 class="card-title ">Total Activties</h4>
                                        <h6 class="card-subtitle text-muted " id="totalActivties">

                                        </h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm mb-2">
                                <div class="card cardsize">
                                    <div class="card-body ">
                                        <h4 class="card-title ">Total Withdrawed </h4>
                                        <h6 class="card-subtitle text-muted" id="totalWithdraws">
                                        </h6>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="mt-3"></div>
                    <div class="background-border activitiesName p-3 col-12 text-center m-auto">
                        <h5>Withdraw Amount with</h5>
                        <div class="row p-3">
                            <div class="col-6 ">
                                <button disabled class="btn background background-border" value="Easypaisa" id="Easypaisa"
                                    onclick="Withdraw_confirm(this.value)">
                                    Easypaisa
                                    <img class="Appimg p-1" src="<%=url%>/img/easypaisa.png">

                                </button>

                            </div>
                            <div class="col-6 ">
                                <button disabled class="btn background background-border" value="JazzCash" id="JazzCash"
                                    onclick="Withdraw_confirm(this.value) ">
                                    JazzCash
                                    <img class="Appimg" src="<%=url%>/img/jazzcash.png">
                                </button>

                            </div>

                        </div>
                    </div>
<div class="mt-3"></div>
                    <div class="table-responsive overflow col-12 text-center m-auto " >
                        <table class="table text-nowrap " id="depositedSlipTable" name="table">
                          <thead class="background">
                          <tr>
                            <th scope="col">Activity Name</th>
                            <th scope="col">Bank Sale</th>
                            <!-- <th scope="col">Commission</th> -->
                            <th scope="col">Status</th>
                            <th scope="col">Status</th>
                            <th scope="col" class="text-center">Clearance Data</th>
                            <th scope="col">Transaction Details</th>
                          </tr>
                        </thead>
                        <tbody>



                        <%PendingClearanceObject.map(obejct=>{%>
                                <td>
                                    <%=obejct.Activity.Agency_Info.agency_name %>
                                <td>
                                <!-- --------------------------------------------------------------------------------------------------------------- -->

                                <% if(obejct.bank_sale){ %>
                                    <td class="text-success font-weight-bold">
                                        Yes
                                    </td>
                                    <% }else{ %>
                                        <td class="text-danger">
                                            No
                                        </td>
                                        <% } %>
                                            <!-- --------------------------------------------------------------------------------------------------------------- -->
                                            <!-- <td class="">Clear</td> -->
                                            <!-- --------------------------------------------------------------------------------------------------------------- -->

                                            <% if(obejct.accountant_approve){ %>

                                                <% if(obejct.withdrawed){ %>
                                                    <td class="text-success font-weight-bold">
                                                        Withdrawed
                                                    </>
                                                    <% }else{%>
                                                        <td class="text-success font-weight-bold">
                                                            Approved
                                                        </td>
                                                        <% }%>

                                                            <% }else if(obejct.account_decline){ %>
                                                                <td class="text-danger">
                                                                    Declined
                                                                </td>
                                                                <% }else{ %>
                                                                    <td class="text-secondary">
                                                                        Pending
                                                                    </td>
                                                                    <% } %>
                                                                        <!-- --------------------------------------------------------------------------------------------------------------- -->

                                                                        <td class=" text-center ">
                                                                            <%=obejct.clearanceDateTime %>
                                                                        </>
                                                                        <!-- --------------------------------------------------------------------------------------------------------------- -->
                                                                        <% if(obejct.bank_sale){ %>

                                                                            <td class="text-center ">
                                                                                <a href="<%=url%>/user/depositslip/<%=obejct.field_exe_earn_uuid %>"
                                                                                    target="_blank">View</a>
                                                                            </td>
                                                                            <% }else{ %>
                                                                                <td class="text-center">
                                                                                    --
                                                                                </td>
                                                                                <% } %>
                                                                                </tbody>
                                                                            </table>


                            </div>

                            <%})%>

                    </div>
                </div>
            </div>
        </div>


        <!--===============================================================================================-->
        <script src="<%=url%>/vendor/jquery/jquery-3.2.1.min.js "></script>
        <!--===============================================================================================-->
        <script src="<%=url%>/vendor/bootstrap/js/bootstrap.min.js "></script>
        <!--===============================================================================================-->
        <script src="<%=url%>/vendor/jquery/tilt.jquery.min.js "></script>
        <script src="<%=url%>/toastr/toastr.min.js "></script>
        <script>
            var menu = document.getElementById("menu");
            function openMenu() {
                menu.style.top = "0";
            }
            function closeMenu() {
                menu.style.top = "-100vh";
            }

            function Withdraw_confirm(abc) {
                confirm("Are you sure you want to withdraw with " + abc);
                // document.getElementById("para").innerHTML = "Are you sure, you want to withdraw amount using " + abc;
                // document.getElementById("confirm").style.display = "block";
            }


            var pendingClearanceObject = JSON.parse('<%-JSON.stringify(PendingClearanceObject)%>')
            var idOfActivity = pendingClearanceObject.map(data => {
                if (data.accountant_approve)
                    return data.Activity.list_act_id;
                else
                    return null
            })


            var activitiesSum = JSON.parse('<%-JSON.stringify(sumOf_Activities)%>')

            var commission = 0.0;
            var totalIncome = 0.0;
            var availableAmount = 0;
            activitiesSum.map(data => {
                commission += data.Commission
                totalIncome += parseInt(data.SumofValues)
                idOfActivity.map(activity => {

                    if (data.list_act_id === activity)
                        availableAmount += parseInt(data.SumofValues) + data.Commission
                })

            })

            var totalWithdraws = 0;
            totalWithdraws = pendingClearanceObject.filter(data => data.withdrawed === true)


            $('#totalIncome').html(totalIncome + " PKR")
            $('#totalActivties').html(pendingClearanceObject.length)
            $('#totalWithdraws').html(totalWithdraws.length)
            $('#totalCommission').html(commission.toFixed(0) + " PKR")
            if (availableAmount > 0) {
                $('#availableAmount').html(availableAmount.toFixed(0) + " PKR")
                $('#Easypaisa').prop('disabled', false)
                $('#JazzCash').prop('disabled', false)

            }
        </script>


    </body>


</html>