<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Complete Profile</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--===============================================================================================-->
    <!-- <link rel="icon" type="image/png" href="images/icons/favicon.ico"/> -->
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="<%=url%>/vendor/bootstrap/css/bootstrap.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="<%=url%>/fonts-1/font-awesome-4.7.0/css/font-awesome.min.css"
    />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="<%=url%>/css/main.css" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="<%=url%>/css/style.css" />
    <link rel="stylesheet" type="text/css" href="<%=url%>/css/style_2.css" />
    <link rel="stylesheet" href="<%=url%>/toastr/toastr.min.css" />

    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />

    <!--===============================================================================================-->
  </head>

  <body>
    <!-- Modal to Upload the Profile Image -->
    <div class="modal" tabindex="-1" id="uploadImageModal">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Upload Profile Picture</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <div class="container">
                <div class="wrapper">
                  <div class="image">
                    <img id="newImage" src="" alt="" />
                  </div>
                  <div class="content">
                    <div class="icon">
                      <i class="fas fa-cloud-upload-alt"></i>
                    </div>
                    <div class="text">No file chosen, yet!</div>
                  </div>
                  <div id="cancel-btn">
                    <i class="fas fa-times"></i>
                  </div>
                  <div class="file-name">File name here</div>
                </div>
                <button
                  onclick="defaultBtnActive()"
                  type="button"
                  class="custom-btn"
                  id="custom-btn"
                >
                  Choose a file
                </button>
                <input id="default-btn" type="file" name="userPhoto" hidden />
                <button type="submit" class="submitBTN custom-btn" hidden>
                  Upload
                </button>
              </div>
          </div>
        </div>
      </div>
    </div>

    <%- messages('Web Appendage Pages/message.ejs',locals) %>
    <div class="limiter">
      <div class="container-profile100">
        <div class="header">
          <div class="cover-image100">
            <a href="#">
              <span class="fa fa-bars menu-button" onclick="openMenu()"></span>
            </a>
            <nav id="menu">
              <ul>
                <li>
                  <a href="<%=url%>/user/signout"
                    ><span class="fa fa-sign-out-alt"></span> Log Out</a
                  >
                </li>
              </ul>
              <span class="fa fa-times close-menu" onclick="closeMenu()"></span>
            </nav>
          </div>
          <div class="container profile-pic-section">
            <div class="row head-section">
              <div class="col-md-12" align="center">
                <div class="profile-pic">
                    <div class="prf-img">
                        <% if(profileData===null) {%>
                            <img src="<%=url%>/img/profile.jpg" class="profile-img"
                                alt="profile picture" id="profileImage">

                            <% }else{ %>
                                <img src="<%=url%>/<%=profileData %>" class="profile-img"
                                    alt="profile picture" id="profileImage">
                                <% } %> <button type="button" class="edit" data-toggle="modal"
                                        data-target="#uploadImageModal">Upload Pic
                                    </button>
                    </div>
                </div>
              </div>
            </div>
            <div class="row main-content form-group">
              <div class="col-md-5 personal-section">
                <div class="personal-data">
                  <label for="name">Name: </label>
                  <input
                    type="text"
                    id="name"
                    name="name"
                    placeholder="e.g Muhammad Ali"
                  />
                </div>
                <div class="personal-data">
                  <label for="contact">Contact: </label>
                  <input
                    type="text"
                    id="contact"
                    name="contact"
                    placeholder="e.g 0345-xxxx52"
                  />
                </div>
                <div class="personal-data">
                  <label for="username">Username: </label>
                  <input
                    type="text"
                    id="username"
                    name="username"
                    placeholder="e.g xyz.123"
                  />
                </div>
                <div class="personal-data">
                  <label for="dob">Date of Birth: </label>
                  <input type="date" id="dob" name="dob" />
                </div>
                <div class="personal-data">
                  <button
                    type="submit"
                    id="submitInfo"
                    class="btn btn-primary align-items-md-center"
                  >
                    Submit
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--===============================================================================================-->
    <script src="<%=url%>/js/jquery.min.js"></script>
    <script src="<%=url%>/bootstrap/js/bootstrap.min.js"></script>
    <!-- Toastr -->
    <script src="<%=url%>/toastr/toastr.min.js"></script>

    <script>
      var menu = document.getElementById("menu");
      function openMenu() {
        menu.style.top = "0";
      }
      function closeMenu() {
        menu.style.top = "-100vh";
      }

/**
 * Setting the User Profile Image Modal
 */

 const wrapper = document.querySelector(".wrapper");
const fileName = document.querySelector(".file-name");
const defaultBtn = document.querySelector("#default-btn");
const customBtn = document.querySelector("#custom-btn");
const cancelBtn = document.querySelector("#cancel-btn i");
const img = document.querySelector("#newImage");
const submitBTN = document.querySelector(".submitBTN");
img.hidden = true;
let regExp = /[0-9a-zA-Z\^\&\'\@\{\}\[\]\,\$\=\!\-\#\(\)\.\%\+\~\_ ]+$/;
function defaultBtnActive() {
  defaultBtn.click();
}
defaultBtn.addEventListener("change", function () {
  const file = this.files[0];
  if (file) {
    const reader = new FileReader();
    reader.onload = function () {
      const result = reader.result;
      img.hidden = false;
      submitBTN.hidden = false;

      img.src = result;
      wrapper.classList.add("active");
      if (file.size > 3000000) {
        img.src = "";
        img.hidden = true;
        submitBTN.hidden = true;
        wrapper.classList.remove("active");
        displayToast("File Size Must be less than 3 MB", "danger");
      }
    };
    cancelBtn.addEventListener("click", () => {
      img.src = "";
      img.hidden = true;
      submitBTN.hidden = true;
      wrapper.classList.remove("active");
    });
    reader.readAsDataURL(file);
  }
  if (this.value) {
    let valueStore = this.value.match(regExp);
    fileName.textContent = valueStore;
  }
});
/**
 * Upload the User profile Image
 */
$(".submitBTN").on("click", () => {
  $("#userProfileForm").submit((e) => {
    e.preventDefault();
    displayToast("Uploading File", "success");
    var fd = new FormData(document.getElementById("userProfileForm"));
    var files = $("#default-btn")[0].files;

    // Check file selected or not
    if (files.length > 0) {
      fd.append("file", files[0]);
    }
    if (files[0].size < 3000000) {
      if (fd) {
        $.ajax({
          type: "POST",
          url: `${window.location.origin}/supervisor/upload/<%=info.uuid%>`,
          data: fd,
          cache: false,
          contentType: false,
          processData: false,
          success: (response) => {
            displayToast(response.messages, response.type);
            $("#uploadImageModal").modal("hide");
            $("body").removeClass("modal-open");
            $(".modal-backdrop").remove();
            if (response.ProfilePic)
              $("#profileImage").attr("src", response.ProfilePic);
          }
        });
      }
    } else {
      displayToast("File Size Must be less than 3 MB", "danger");
    }
  });
});

/**
 * Adding the information of the User into the data base like name and etc
 */

$("#submitInfo").click((e) => {
  e.preventDefault();
  if (validateInput()) {
    //checking if any input is empty...
    if (
      ($("#name").val(),
      $("#contact").val(),
      $("#username").val(),
      $("#dob").val())
    ) {
      $.ajax({
        type: "POST",
        url: `${window.location.origin}/supervisor/updateProfileInfo/<%=info.uuid%>`,
        data: {
          name: $("#name").val(),
          contact: $("#contact").val(),
          username: $("#username").val(),
          dob: $("#dob").val()
        },
        dataType: "json",
        cache: false,
        error: (error) => {
          displayToast(error.responseJSON.messages, error.responseJSON.type);
        },
        success: (response) => {
          console.log(response);
          displayToast(response.messages, response.type);
          if (response) {
            displayToast("Redirecting to Profile Page", "success");
            window.location = `${window.location.origin}/supervisor/dashboard/${response.uuid}`;
          }
        }
      });
    } else {
      displayToast("All Inputs are required", "danger");
    }
  }
});

function validateInput() {
  if (
    $("#name").val().includes("update") ||
    $("#name").val().includes("select") ||
    $("#name").val().includes("delete")
  ) {
    displayToast("Invalid Name. Please Try to Enter Valid Name", "error");
    return false;
  }
  if (
    $("#username").val().includes("update") ||
    $("#username").val().includes("select") ||
    $("#username").val().includes("delete")
  ) {
    displayToast("Invalid username. Please Try to Enter Valid Name", "error");
    return false;
  }
  if (
    $("#contact").val().includes("update") ||
    $("#contact").val().includes("select") ||
    $("#contact").val().includes("delete")
  ) {
    displayToast(
      "Invalid Contact Number. Please Try to Enter Valid Name",
      "error"
    );
    return false;
  } else {
    return true;
  }
}

/**
 * Function to display the message
 */

function displayToast(messages, type) {
  if (messages) {
    if (type === "danger") toastr.error(messages);
    if (type === "info") toastr.info(messages);
    if (type === "success") toastr.success(messages);
    if (type === "warning") toastr.warning(messages);
  }
}









    </script>
  </body>
</html>
