<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Assign Area</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.css"
    />
    <script src="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.js"></script>

    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="<%=url%>/vendor/bootstrap/css/bootstrap.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="<%=url%>/fonts-1/font-awesome-4.7.0/css/font-awesome.css"
    />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="<%=url%>/css/main.css" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="<%=url%>/css/style_2.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="<%=url%>/toastr/toastr.min.css"
    />
    <!--===============================================================================================-->
  </head>

  <body>
    <div class="limiter">
      <div class="container-profile100">
        <div class="header w-100">
          <div class="cover-image100">
            <img src="<%=url%>/logo/logo.png" class="pep-logo" alt="" />
            <a href="#">
              <span class="fa fa-bars menu-button" onclick="openMenu()"></span>
            </a>
            <a href="<%=url%>/manager/notification">
              <span class="fa fa-bell menu-button">
                <span class="button__badge" style="display: none"></span>
              </span>
            </a>
            <nav id="menu">
              <ul>
                <% permissions.forEach(element=> { %>
                <li>
                  <a
                    href="<%=url%>/manager<%= element.controller%>/<%=info.uuid%>"
                  >
                    <span class="<%= element.icon%>"></span>
                    <%= element.permission_name %>
                  </a>
                </li>
                <% }); %>
                <li>
                  <a href="<%=url%>/manager/signout">
                    <span class="fa fa-sign-out"> </span> Log Out</a
                  >
                </li>
              </ul>
              <span class="fa fa-times close-menu" onclick="closeMenu()"></span>
            </nav>
          </div>
          <!-- --------------------- -->
          <div class="container salesup">
            <h3 class="col-12 text-center m-auto">Allot Area to Supervisor</h3>

            <div class="container p-2 mt-4">
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mt-3">Area</h6>
                </div>
                <div class="col-sm-6 mb-2">
                  <select
                    id="area"
                    class="form-control cardsection w-100 h-100 p-2"
                    placeholder="Select Area"
                  >
                  <option selected disabled value="null">Choose One</option>
                    <%city.forEach(area =>{ %>
                    <option value="<%=area.city_uuid%>">
                      <%= area.city_name %>
                    </option>
                    <% }) %>
                  </select>
               
          </div>
        </div>

        <div class="row">
          <div class="col-sm-3">
            <h6 class="mt-3">Select Employees</h6>
          </div>
          <div class="col-sm-6">
            <select
            class="form-control cardsection"
              id="employees"
              placeholder="Select Employees"
              multiple="multiple"
            >
                    <%supervisor.forEach(super_Visor =>{ %>
                    <option value="<%=super_Visor.sup_uuid%>">
                      <%= super_Visor.sup_name %>
                    </option>
                    <% }) %>
                  </select>
                </div>
                <div class="col-12 text-center m-auto">
                  <input
                    type="submit"
                    value="Allot Area"
                    class="btn background mt-2 mb-2"
                    id="allotarea"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="container mt-5">
            <% if(!supervisor_and_City) { %>
            <div class="text-center p-3 text-danger mt-5">
              <h5>You don't have any Team.</h5>
              <h5>Please build a team first.</h5>
            </div>
            <% }else{ %>
              <div class="table-responsive">
                <table class="table text-nowrap" >
                  <thead class="table-primary">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Name</th>
                  <th scope="col">Contact</th>
                  <th scope="col">Current Area</th>
                </tr>
              </thead>
              <tbody>
                <% supervisor_and_City.forEach((element,index) => { %>
                <tr>
                  <td scope="col"><strong> <%= ++index %> </strong></td>
                  <td scope="col"><%=element.sup_name %></td>
                  <td scope="col"><%=element.sup_contact %></td>

                  <td scope="col">
                    <select name="" id="" class="form-control cardsection bg-white">
                      <%element.Cities.forEach(city => {%>
                      <option value="<%=city.city_uuid %>">
                        <%=city.city_name %>
                      </option>
                      <% }) %>
                    </select>
                  </td>   
              </tr>
              <%}) %>
            </tbody>
          </table>
          <%} %>
        </div>
        </div>
        <!-- ---------------- -->
      </div>
    </div>
  </div>

    <!--===============================================================================================-->
    <script src="<%=url%>/js/jquery.min.js"></script>
    <script src="<%=url%>/bootstrap/js/bootstrap.min.js"></script>
    <!-- Toastr -->
    <!--===============================================================================================-->
    <script src="<%=url%>/vendor/jquery/tilt.jquery.min.js"></script>
    <script src="<%=url%>/toastr/toastr.min.js"></script>
    <script>
      var notificationCount = JSON.parse(
        "<%-JSON.stringify(unreadNotificationCount)%>"
      );
      if (notificationCount) {
        $(".button__badge").css("display", "block");
        $(".button__badge").html(
          JSON.parse("<%-JSON.stringify(unreadNotificationCount)%>")
        );
      }
      $(".js-tilt").tilt({
        scale: 1.1,
      });

      var menu = document.getElementById("menu"),
        city = JSON.parse(`<%-JSON.stringify(city)%>`),
        supervisor_and_City = JSON.parse(
          `<%-JSON.stringify(supervisor_and_City)%>`
        ),
        supervisor = JSON.parse(`<%-JSON.stringify(supervisor)%>`);
      function openMenu() {
        menu.style.top = "0";
      }
      function closeMenu() {
        menu.style.top = "-100vh";
      }
      $(document).ready(function () {
        var multipleCancelButton = new Choices("#employees", {
          removeItemButton: true,
        });
      });

      //   //function to check if the user is already have the same area then prevent it

      const checkUserArea = (dbData, selectedArea, employeeUUID) => {
        var employeesSelected = [],
          status = false;
        for (const iteratorEmployee of employeeUUID) {
          for (const data of dbData) {
            if (data.sup_uuid === iteratorEmployee) {
              for (const dataArea of data.Cities) {
                if (selectedArea === dataArea.city_uuid) {
                  status = true;
                }
              }
            }
          }
        }
        return status;
      };

      $("#allotarea").click(() => {
        var selectedArea = document.getElementById("area").value,
          employees = [];

        $("#employees option ").each(function () {
          var thisOptionValue = $(this).val();
          employees.push(thisOptionValue);
        });

        let checkUserExists = false;
        if (employees.length > 0)
          checkUserExists = checkUserArea(
            supervisor_and_City,
            selectedArea,
            employees
          );
        else {
          toastr.error("Please select employee");
          return;
        }
        if (checkUserExists) {
          toastr.error("Sector is already allot to the user.");
          return;
        } else {
          console.log(selectedArea, employees);
          $.ajax({
            type: "POST",
            url: `${window.location.origin}/allocateSectorToExecutive`,
            data: { selectedArea, employees: JSON.stringify(employees) },
            dataType: "json",
            error: (error) => {
              if (error) {
                console.error(error);
                toastr.error("There is an error while Allocating Area");
              }
            },
            success: (response) => {
              if (response) {
                console.log(response);
                toastr.success("Area Allocated to the Employees ");
                location.reload(true);
              }
            },
          });
        }
      });
    </script>
  </body>
</html>
