<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Message</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.css"
    />
    <script src="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.js"></script>

    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="<%=url%>/vendor/bootstrap/css/bootstrap.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="<%=url%>/fonts-1/font-awesome-4.7.0/css/font-awesome.css"
    />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="<%=url%>/css/main.css" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="<%=url%>/css/style_2.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="<%=url%>/toastr/toastr.min.css"
    />
    <!--===============================================================================================-->
  </head>

  <body>
    <!--  Navigation-->
    <div class="limiter">
      <div class="container-profile100">
        <div class="header">
          <div class="cover-image100">
            <img src="<%=url%>/logo/logo.png" class="pep-logo" alt="" />
            <a href="#">
              <span class="fa fa-bars menu-button" onclick="openMenu()"></span>
            </a>
            <a href="<%=url%>/manager/notification">
              <span class="fa fa-bell menu-button">
                <span class="button__badge" style="display: none"></span>
              </span>
            </a>
            <nav id="menu">
              <ul>
                <% permissions.forEach(element=> { %>
                <li>
                  <a
                    href="<%=url%>/manager<%= element.controller%>/<%=info.uuid%>"
                  >
                    <span class="<%= element.icon%>"></span>
                    <%= element.permission_name %>
                  </a>
                </li>
                <% }); %>
                <li>
                  <a href="<%=url%>/manager/signout">
                    <span class="fa fa-sign-out"> </span> Log Out</a
                  >
                </li>
              </ul>
              <span class="fa fa-times close-menu" onclick="closeMenu()"></span>
            </nav>
          </div>
          <!-- --------------------- -->
          <!-- advertisment,
            cityNames, -->
          <!-- --------------------------- -->
          <div class="p-3 saleup">
            <h3 class="text-center mt-4">Convey Message to Your Supervisor</h3>
            <div class="pt-5 pl-5 pb-3 mb-4">
              <div class="form-check-inline">
                <label class="form-check-label">
                  <input
                    type="radio"
                    class="form-check-input"
                    name="optradio"
                    id="sendall"
                  />Send to All
                </label>
              </div>
              <div class="form-check-inline">
                <label class="form-check-label">
                  <input
                    type="radio"
                    class="form-check-input"
                    name="optradio"
                    id="list_emp"
                  />Specify
                </label>
              </div>
            </div>
            <div class="pr-5 pl-5">
              <div class="col-10" id="selectemp">
                <div class="col-md-6 p-2 mt-2 mb-4">
                  <select
                    id="choices-multiple-remove-button"
                    placeholder="Select Employees"
                    multiple
                  >
                    <%teamMember.forEach(member => {%>
                    <option value="<%=member.sup_uuid %>">
                      <%=member.sup_name %>
                    </option>
                    <% }) %>
                  </select>
                </div>
              </div>
              <textarea
                class="form-control mb-3 border border-dark"
                id="messageTextArea"
                placeholder="Write your message here."
                rows="8"
              ></textarea>
              <div class="d-flex justify-content-center">
                <button
                  class="btn btn-success"
                  id="executivebtn"
                >Submit</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--===============================================================================================-->
    <script src="<%=url%>/js/jquery.min.js"></script>
    <script src="<%=url%>/bootstrap/js/bootstrap.min.js"></script>
    <!-- Toastr -->
    <!--===============================================================================================-->
    <script src="<%=url%>/vendor/jquery/tilt.jquery.min.js"></script>
    <script src="<%=url%>/toastr/toastr.min.js"></script>
    <script>
      var notificationCount = JSON.parse(
        `<%-JSON.stringify(unreadNotificationCount)%>`
      );
      if (notificationCount) {
        $(".button__badge").css("display", "block");
        $(".button__badge").html(
          JSON.parse(`<%-JSON.stringify(unreadNotificationCount)%>`)
        );
      }
      $(".js-tilt").tilt({
        scale: 1.1
      });

      var menu = document.getElementById("menu");

      function openMenu() {
        menu.style.top = "0";
      }
      function closeMenu() {
        menu.style.top = "-100vh";
      }
      $(document).ready(function () {
        $("#selectemp").hide();
        var multipleCancelButton = new Choices(
          "#choices-multiple-remove-button",
          {
            removeItemButton: true
          }
        );
      });

      $("#sendall").click(function () {
        $("#selectemp").hide();
      });
      $("#list_emp").click(function () {
        $("#selectemp").show();
      });

      $("#executivebtn").click(function () {
        var employees = [];
        $("#selectemp option ").each(function () {
          var thisOptionValue = $(this).val();
          employees.push(thisOptionValue);
        });

        if (
          $("#messageTextArea").val().length < 0 ||
          $("#messageTextArea").val().length === 0
        ) {
          toastr.error("Please Enter the text Message");
          return;
        }
        if ($("#list_emp").prop("checked")) {
          submitMessageToSpecific(employees);
          return;
        } else {
          submitMessageToAll();
        }
      });

      const submitMessageToSpecific = (employeeData) => {
        $.ajax({
          type: "POST",
          dataType: "json",
          url: `${window.location.origin}/conveyMessageToSpecificSupervisor/<%=info.uuid%>`,
          data: {
            employeeList: JSON.stringify(employeeData),
            messageText: $("#messageTextArea").val()
          },
          error: (error) => {
            if (error) {
              toastr.error("Please try again");
            }
          },
          success: (response) => {
            if (response) {
              toastr.success("Successfully send the message the member");
              $("#messageTextArea").val('')
            }
          }
        });
      };


      const submitMessageToAll = () => {
        $.ajax({
          type: "POST",
          dataType: "json",
          url: `${window.location.origin}/conveyMessageToAllSupervisor/<%=info.uuid%>`,
          data: { messageText: $("#messageTextArea").val() },
          error: (error) => {
            if (error) {
              toastr.error("Please try again");
            }
          },
          success: (response) => {
            if (response) {
              toastr.success("Successfully send the message all member");
              $("#messageTextArea").val('')
            }
          }
        });
      };

    </script>
  </body>
</html>
