<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Manage Incentive</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--===============================================================================================-->
    <!-- <link rel="icon" type="image/png" href="images/icons/favicon.ico"/> -->
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="<%=url%>/vendor/bootstrap/css/bootstrap.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="<%=url%>/fonts-1/font-awesome-4.7.0/css/font-awesome.css"
    />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="<%=url%>/css/main.css" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="<%=url%>/css/style_2.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="<%=url%>/toastr/toastr.min.css"
    />
  </head>
  <style>
    .circle {
      position: fixed;
      width: 100vw;
      height: 100vh;
      background-color: #6e696e77;
      z-index: 99999;
    }
    .loader {
      display: inline-block;
      position: relative;
      width: 80px;

      height: 80px;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #c850c0;
      font-size: 80px;
      text-indent: -9999em;
      overflow: hidden;
      border-radius: 50%;
      -webkit-transform: translateZ(0);
      -ms-transform: translateZ(0);
      transform: translateZ(0);
      -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
      animation: load6 1.7s infinite ease, round 1.7s infinite ease;
    }
    @-webkit-keyframes load6 {
      0% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
          0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
      }
      5%,
      95% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
          0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
      }
      10%,
      59% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em,
          -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em,
          -0.297em -0.775em 0 -0.477em;
      }
      20% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
          -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
          -0.749em -0.34em 0 -0.477em;
      }
      38% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
          -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
          -0.82em -0.09em 0 -0.477em;
      }
      100% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
          0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
      }
    }
    @keyframes load6 {
      0% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
          0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
      }
      5%,
      95% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
          0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
      }
      10%,
      59% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em,
          -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em,
          -0.297em -0.775em 0 -0.477em;
      }
      20% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
          -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
          -0.749em -0.34em 0 -0.477em;
      }
      38% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
          -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
          -0.82em -0.09em 0 -0.477em;
      }
      100% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
          0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
      }
    }
    @-webkit-keyframes round {
      0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
      }
      100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }
    @keyframes round {
      0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
      }
      100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }
  </style>

  <body onload="myFunction()">
    <div class="circle">
      <div class="loader">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>

    <!--  Navigation-->
    <div class="limiter">
      <div class="container-profile100">
        <div class="header">
          <div class="cover-image100">
            <img src="<%=url%>/logo/logo.png" class="pep-logo" alt="" />
            <a href="#">
              <span class="fa fa-bars menu-button" onclick="openMenu()"></span>
            </a>
            <a href="<%=url%>/manager/notification">
              <span class="fa fa-bell menu-button">
                <span class="button__badge" style="display: none"></span>
              </span>
            </a>
            <nav id="menu">
              <ul>
                <% permissions.forEach(element=> { %>
                <li>
                  <a
                    href="<%=url%>/manager<%= element.controller%>/<%=info.uuid%>"
                  >
                    <span class="<%= element.icon%>"></span>
                    <%= element.permission_name %>
                  </a>
                </li>
                <% }); %>
                <li>
                  <a href="<%=url%>/manager/signout">
                    <span class="fa fa-sign-out"> </span> Log Out</a
                  >
                </li>
              </ul>
              <span class="fa fa-times close-menu" onclick="closeMenu()"></span>
            </nav>
          </div>
          <!-- --------------------- -->
          <!-- advertisment,
          cityNames, -->
          <!-- --------------------------- -->
          <div class="container saleup">
            <div class="d-flex justify-content-between">
              <div class="text-center align-items-center">
                <h4 class="areaheading text-center">
                  Giving Away Gifts to Agencies
                  <i class="ml-2 fa fa-gift" aria-hidden="true"></i>
                </h4>
              </div>
              <div class="align-items-end">
                <a href="<%=url%>/manager/viewAllAssginedGifts/<%=info.uuid%>">
                  <i class="fa fa-list" aria-hidden="true"></i>
                  <span>View Gift Assigned History </span>
                </a>
              </div>
            </div>
            <div
              id="carouselExampleCaptions"
              class="carousel slide mt-2 carouselimg"
              data-ride="carousel"
            >
              <ol class="carousel-indicators">
                <% advertisment.map((data,index)=>{ %> <%if(index==0) {%>
                <li
                  data-target="#carouselExampleCaptions"
                  data-slide-to="<% index %> "
                  class="active"
                ></li>
                <% }else{ %>
                <li
                  data-target="#carouselExampleCaptions"
                  data-slide-to="<% index %>"
                ></li>
                <% }}) %>
              </ol>
              <div class="carousel-inner">
                <% advertisment.map((stock,index)=>{ %> <%if(index==0) {%>
                <div class="carousel-item active p-2">
                  <img
                    src="<%=url%>/<%=stock.adver_stock_image%>"
                    class="d-block w-100"
                    alt="<%= stock.adver_stock_name %>"
                  />
                  <div class="carousel-caption d-none d-md-block">
                    <h5 class="font-weight-bolder text-danger">
                      <%=stock.adver_stock_name %>
                    </h5>
                    <p class="text-danger">
                      <%=stock.adver_stock_descritpion %>
                    </p>
                  </div>
                </div>
                <% }else{ %>
                <div class="carousel-item p-2">
                  <img
                    src="<%=url%>/<%=stock.adver_stock_image%>"
                    class="d-block w-100"
                    alt="<%= stock.adver_stock_name %>"
                  />
                  <div class="carousel-caption d-none d-md-block">
                    <h5 class="font-weight-bolder text-danger">
                      <%=stock.adver_stock_name %>
                    </h5>
                    <p class="text-danger">
                      <%=stock.adver_stock_descritpion %>
                    </p>
                  </div>
                </div>
                <% }}) %>
              </div>
              <a
                class="carousel-control-prev text-dark"
                href="#carouselExampleCaptions"
                role="button"
                data-slide="prev"
              >
                <span
                  class="carousel-control-prev-icon"
                  aria-hidden="true"
                ></span>
                <span class="sr-only">Previous</span>
              </a>
              <a
                class="carousel-control-next"
                href="#carouselExampleCaptions"
                role="button"
                data-slide="next"
              >
                <span
                  class="carousel-control-next-icon"
                  aria-hidden="true"
                ></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
          <div class="container p-2 mt-4">
            <div class="row mb-4">
              <!-- <div class="col-sm-3">
                <h6 class="mt-3">Select Agency Type</h6>
              </div> -->
              <!-- <div class="col-6">
                <select class="area w-100 h-100 col-md-12 text-center">
                  <option selected disabled>Choose One</option>
                  < agencyTypes.forEach(agency => { %>
                  <option value="<=agency.agencytype_uuid%>">
                    <=agency.type_name%>
                  </option>
                  < }) %>
                </select>
              </div> -->
            </div>
            <div class="row mb-4">
              <div class="col-sm-3">
                <h6 class="mt-3">Select Gift</h6>
              </div>
              <div class="col-6">
                <select
                  class="area w-100 h-100 col-md-12 text-center"
                  id="selectGift"
                >
                  <option selected disabled>Choose Gift</option>
                  <!-- ------------ DOM Manipulation is done here because of the total quantity is not working here ----------------- -->
                </select>
              </div>
            </div>

            <div class="row mb-4">
              <div class="col-sm-3">
                <h6 class="mt-3">Enter Gift Amount</h6>
              </div>
              <div class="col-6">
                <input
                  class="border border-dark w-100 h-100 col-md-12"
                  type="number"
                  id="giftInput"
                />
              </div>
              <div class="col-sm-3">
                <h6 class="mt-3">
                  Total Available Gifts: <strong id="totalGifts">00.00</strong>
                </h6>
              </div>
            </div>

            <div class="row mb-4">
              <div class="col-sm-3">
                <h6 class="mt-3">Select Supervisor</h6>
              </div>
              <div class="col-6">
                <select
                  class="area w-100 h-100 col-md-12 text-center"
                  id="selectSupervisor"
                >
                  <!-- here we are going to have three for each loop, 
                first is for the supervisor array, 
                second is for cities 
                and then city supervisor associate to confirm that this city is assigned to the supervisor -->

                  <option selected disabled>Choose One</option>
                  <% superVisorsInfo.forEach(supervisor => { %> <% if
                  (supervisor.Cities) { %> <% supervisor.Cities.forEach(city =>
                  { %> <%if( city.City_and_Supervisor_associate.city_id
                  ===city.city_id && supervisor.sup_id ===
                  city.City_and_Supervisor_associate.sup_id ){%>
                  <option value="<%=supervisor.sup_uuid%>">
                    <%=supervisor.sup_name%> - ( <%=city.city_name%> )
                  </option>
                  <% } %> <% }) %> <% } %> <% }) %>
                </select>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 text-center">
                <button
                  style="display: none"
                  type="button"
                  class="btn btn-success h-75 btn-width mb-3"
                  id="giveSelectiveBTN"
                >
                  Give <i class="fa fa-gift" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="<%=url%>/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="<%=url%>/vendor/bootstrap/js/popper.min.js"></script>
    <script src="<%=url%>/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="<%=url%>/vendor/jquery/tilt.jquery.min.js"></script>
    <script src="<%=url%>/toastr/toastr.min.js"></script>
    <script>
      var loader = document.querySelector(".circle");
      const myFunction = () => {
        setTimeout(() => {
          loader.style.display = "none";
        }, 2000);
      };

      console.log(JSON.parse(`<%-JSON.stringify(superVisorsInfo)%>`));
      var notificationCount = JSON.parse(
        "<%-JSON.stringify(unreadNotificationCount)%>"
      );
      if (notificationCount) {
        $(".button__badge").css("display", "block");
        $(".button__badge").html(
          JSON.parse("<%-JSON.stringify(unreadNotificationCount)%>")
        );
      }
      $(".js-tilt").tilt({
        scale: 1.1,
      });

      // console.log(JSON.parse(`%-JSON.stringify(advertisment)%>`));
      var menu = document.getElementById("menu");

      function openMenu() {
        menu.style.top = "0";
      }
      function closeMenu() {
        menu.style.top = "-100vh";
      }
      giftData = JSON.parse(`<%-JSON.stringify(advertisment)%>`);
      const selectGift = document.getElementById("selectGift");
      giftData.forEach((gift) => {
        const option = document.createElement("option");
        option.value = gift.advert_stock_uuid;
        option.id = gift.adver_stock_id;
        option.text = gift.adver_stock_name;
        selectGift.append(option);
      });

      $("#selectSupervisor").change((e) => {
        $("#giveSelectiveBTN").fadeIn();
      });

      $("#selectGift").change((e) => {
        giftData = JSON.parse(`<%-JSON.stringify(advertisment)%>`);

        giftData.forEach((gift) => {
          const temp = +$("#selectGift").find(":selected").attr("id");
          if (temp === gift.adver_stock_id) {
            $("#totalGifts").html(gift.sumofQuantity - gift.QuantityUsed);
          }
        });
      });

      console.log(JSON.parse(`<%-JSON.stringify(advertisment)%>`));
      /**
       * selective button on click button
       *
       * */
      $("#giveSelectiveBTN").on("click", (e) => {
        const status = validateQuantity(
          JSON.parse(`<%-JSON.stringify(advertisment)%>`),
          +$("#selectGift").find(":selected").attr("id"),
          +$("#giftInput").val()
        );

        const aaa = {
          superviosr: $("#selectSupervisor").find(":selected").val(),

          giftAssigned: +$("#giftInput").val(),
          gift: $("#selectGift").val(),
        };
        console.log("sadsad  ", status);
        console.log("aaaaaaaaaaaa  ", aaa);

        if (
          $("#giftInput").val().length > 0 &&
          validateQuantity(
            JSON.parse(`<%-JSON.stringify(advertisment)%>`),
            +$("#selectGift").find(":selected").attr("id"),
            +$("#giftInput").val()
          )
        ) {
          $.ajax({
            type: "PUT",
            url: `${window.location.origin}/assignGiftToSupervisor/<%=info.uuid%>`,
            data: {
              superviosr: $("#selectSupervisor").find(":selected").val(),

              giftAssigned: +$("#giftInput").val(),
              gift: $("#selectGift").val(),
            },
            contentType: "application/x-www-form-urlencoded; charset=UTF-8",
            dataType: "JSON",
            error: (error) => {
              console.error(error);
            },
            success: (response) => {
              if (response) {
                toastr.success(response.status);
                $("#giveSelectiveBTN").fadeOut();
              }
            },
          });
        } else {
          toastr.error("Please Enter Valid Quantity.");
          return;
        }
      });

      /**
       * send to ALl button on click button
       *
       *
       *
       *
       * */

      // $("#givetoAllBTN").on("click", (e) => {
      //   const status = validateQuantity(
      //     JSON.parse(`%-JSON.stringify(advertisment)%>`),
      //     +$("#selectGift").find(":selected").attr("id"),
      //     +$("#giftInput").val()
      //   );

      //   // console.log(status);

      //   // $.ajax({
      //   //   type: "POST",
      //   //   url: `${window.location.origin}/assign`,
      //   //   data: "data",
      //   //   dataType: "dataType",
      //   //   success: function (response) {}
      //   // });
      // });

      const validateQuantity = (data, adverStock_ID, enteredValue) => {
        var status = false;
        data.forEach((stock) => {
          if (stock.adver_stock_id === adverStock_ID) {
            if (stock.sumofQuantity - stock.QuantityUsed < enteredValue) {
              status = false;
            } else {
              status = true;
            }
          }
        });

        return status;
      };
    </script>
  </body>
</html>
