<!DOCTYPE html>
<html lang="en">

<head>
	<title>Signup</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<!-- <link rel="icon" type="image/png" href="images/icons/favicon.ico"/> -->
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href=" /vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href=" /fonts-1/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href=" /css/main.css">
	<link rel="stylesheet" href="/toastr/toastr.min.css">

	<!--===============================================================================================-->
</head>

<body>

	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-pic js-tilt" data-tilt>
					<img src="<%=dbData.pictureFolder%><%=dbData.pictureName%>" alt="IMG">
				</div>

				<form action="/userSignUp" method="POST" class="login100-form validate-form" autocomplete="off">
					<span class="login100-form-title">
						<%=dbData.signUpTitle%>
					</span>
					<%- messages('Web Appendage Pages/message.ejs',locals) %>
						<div class="wrap-input100 validate-input">
							<input class="input100" type="text" id="userEmail" name="registering_email"
								placeholder="<%=dbData.emailPlaceHolder%>">
							<span class="focus-input100"></span>
							<span class="symbol-input100">
								<i class="<%=dbData.emailIcon%>" aria-hidden="true"></i>
							</span>
						</div>

						<div class="wrap-input100 validate-input">
							<input class="input100" type="password" id="userPassword" name="registering_password"
								autocomplete="new-password" placeholder="<%=dbData.passwordPlaceHolder%>">
							<span class="focus-input100"></span>
							<span class="symbol-input100">
								<i class="<%=dbData.passwordIcon%>" aria-hidden="true"></i>
							</span>
						</div>
						<div class="wrap-input100 validate-input">
							<input class="input100" type="password" id="userConfirm_Password"
								placeholder="<%=dbData.confirmPasswordPlaceHolder%>">
							<span class="focus-input100"></span>
							<span class="symbol-input100">
								<i class="<%=dbData.confirmPasswordIcon%>" aria-hidden="true"></i>
							</span>
						</div>

						<div class="container-login100-form-btn">
							<button type="submit" id="abc" class="login100-form-btn">
								<%=dbData.btnText%>
							</button>
						</div>
						<div class="text-center p-t-136">
							<a class="txt2" href="/login">
								<%=dbData.alreadyHaveAccount%>
									<i class="<%=dbData.alreadyHaveAccountIcon%>" aria-hidden="true"></i>
							</a>
						</div>
				</form>
			</div>
		</div>
	</div>
	<!--===============================================================================================-->
	<script src="/vendor/jquery/jquery-3.2.1.min.js"></script>
	<!--===============================================================================================-->
	<!-- <script src=" /vendor/bootstrap/js/bootstrap.min.js"></script> -->
	<!--===============================================================================================-->
	<script src=" /vendor/jquery/tilt.jquery.min.js"></script>
	<script>
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script>
	<script src="/toastr/toastr.min.js"></script>
	<script src="/JavaScript/Signup.js"></script>

</body>

</html>