<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Company Promotions</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.css"
    />
    <script src="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.js"></script>

    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="<%=url%>/vendor/bootstrap/css/bootstrap.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="<%=url%>/fonts-1/font-awesome-4.7.0/css/font-awesome.css"
    />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="<%=url%>/css/main.css" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="<%=url%>/css/style_2.css" />
      <!--===============================================================================================-->
      <link rel="stylesheet" type="text/css" href="<%=url%>/css/Editmanager.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="<%=url%>/toastr/toastr.min.css"
    />
    <!--===============================================================================================-->
  </head>

  <body>
    <div
    class="modal fade"
    id="Form"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title col" id="exampleModalLabel">
            New Promotion
          </h5>
          <div
            class="col alert alert-warning alert-dismissible fade show mb-0 bg-success"
            role="alert"
            id="Fields_Added"
          >
            Added Successfully!!
            <button
              type="button"
              class="close"
              data-dismiss="alert"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group row p-2 m-2">
              <label for="recipient-name" class="col-form-label col"
                >Title</label
              >
              <input type="text" class="form-control col" id="dep_name" />
            </div>
            <div class="form-group row p-2 m-2">
              <label for="recipient-name" class="col-form-label col"
                >Describe Purpose</label
              >
              <input type="text" class="form-control col" id="dep_purpose" />
            </div>
            <div class="form-group row p-2 m-2">
              <label for="recipient-name" class="col-form-label col"
                >Assign Status</label
              >
              <select class="col form-control" id="status">
                <option>Active</option>
                <option>Paused</option>
              </select>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-dismiss="modal"
          >
            Close
          </button>
          <button
            type="button"
            class="btn btn-primary"
            onclick="AddInTable()"
          >
            Add
          </button>
        </div>
      </div>
    </div>
  </div>


    <div class="limiter">
      <div class="container-profile100">
        <div class="header w-100">
          <div class="cover-image100">
            <img src="<%=url%>/logo/logo.png" class="pep-logo" alt="" />
            <a href="#">
              <span class="fa fa-bars menu-button" onclick="openMenu()"></span>
            </a>
            <a href="<%=url%>/generalManager/notification">
              <span class="fa fa-bell menu-button">
                <span class="button__badge" style="display: none"></span>
              </span>
            </a>
            <nav id="menu">
              <ul>
                <% permissions.forEach(element=> { %>
                <li>
                  <a
                    href="<%=url%>/generalManager<%= element.controller%>/<%=info.uuid%>"
                  >
                    <span class="<%= element.icon%>"></span>
                    <%= element.permission_name %>
                  </a>
                </li>
                <% }); %>
                <li>
                  <a href="<%=url%>/generalManager/signout">
                    <span class="fa fa-sign-out"> </span> Log Out</a
                  >
                </li>
              </ul>
              <span class="fa fa-times close-menu" onclick="closeMenu()"></span>
            </nav>
          </div>
          
   
  
          <div class="container salesup">
            <br>
            <div class="col-12 text-center" id="promotionHeading">
              <h4>Company Promotions</h4>
            </div>
            <div class="container-lg" id="container_table">
              <div class="table-responsive">
                <div class="table-wrapper">
                  <div class="row mb-0">
                    <div class="col-8 mb-0">
                 </div>
                  
                    <div class="col-3 text-right mt-0 mb-0">
                      <button
                      type="button"
                      class="btn btn-info add-new"
                      data-toggle="modal"
                      data-target="#Form"
                    >
                      <i class="fa fa-plus"></i> Add New
                    </button>
                    </div>
                  </div>

                  <table
                    class="table table-bordered mt-3"
                    id="CompanyPromotions"
                  >
                    <thead class="table-primary">
                      <tr>
                        <th class="col w-50">Title</th>
                        <th class="col">Description</th>
                        <th class="col w-50">Status</th>
                        <th class="col">Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% companyPromotions.forEach(promotion => { %>

                      <tr class="p-0">
                        <td class="pt-1"><%= promotion.comp_prom_name %></td>
                        <td class="pt-1"><%= promotion.comp_prom_desc %></td>
                       
                          <% if(promotion.prom_status== 1){ %>
                            <td class="form-group pt-1 mt-0">
                              <i
                                class="fa fa-circle text-success status pt-0 mt-0"
                              ></i>
                          <label class="active_icon pt-0 mb-0 mt-0"
                            >Active</label
                          >
                          <% }else{ %>
                            <td class="form-group pt-1 mt-0">
                              <i
                                class="fa fa-circle text-danger status pt-0 mt-0"
                              ></i>
                            <label class="active_icon pt-0 mb-0 mt-0"
                            >Paused</label
                          >
                          <% } %>
                        </td>
                        <td class="pt-0">
                          <a
                            class="add"
                            name="add"
                            title="Add"
                            onclick="update_info(this)"
                            ><i class="fa fa-save pt-0"></i
                          ></a>
                          <a
                            class="zone_edit"
                            name="edit"
                            title="Edit"
                            data-toggle="tooltip"
                            onclick="edit_info(this)"
                            ><i class="fa fa-edit pt-0"></i
                          ></a>
                        
                          <a
                            class="delete"
                            name="delete"
                            title="Delete"
                            data-toggle="tooltip"
                            onclick="delete_info(this)"
                            ><i
                              class="fa fa-trash pt-0"
                            ></i
                          ></a>
                        </td>
                      </tr>
                      <% }) %>

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="<%=url%>/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="<%=url%>/vendor/bootstrap/js/popper.min.js"></script>
    <script src="<%=url%>/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="<%=url%>/vendor/jquery/tilt.jquery.min.js"></script>

    <script src="<%=url%>/toastr/toastr.min.js"></script>
    <script>
      var selectList, status_value;
    var tr = document.getElementById("CompanyPromotions").getElementsByTagName("tr");

      const edit_info = ((row)=> {
      var row_number = row.parentNode.parentNode.rowIndex;
/// if no row selected already, only then edit selected row
if (document.getElementById("Select_status") == null) {

        /// remove edit button and display add button, so user can update manager info.
    tr[row_number].getElementsByTagName("td")[3].children.namedItem("add").style.display = "inline-block";
    tr[row_number]
      .getElementsByTagName("td")[3]
      .children.namedItem("edit").style.display = "none";
     
    //fetching current status
    status_value = tr[row_number]
      .getElementsByTagName("td")[2]
      .children.item(1).innerText;
     var td0 = document.createElement("td");
     var td1 = document.createElement("td");
     var td2 = document.createElement("td");


    /// create select and append options for status.
    selectList = document.createElement("select");
    selectList.id = "Select_status";
    selectList.className = "form-control";
    td2.append(selectList);

     // puting both status in array
     var array = ["Active", "Paused"];
    // adding options in select
    array.forEach((element, index) => {
      var option = document.createElement("option");
      option.value = element;
      option.text = element;
      //selecting current option by default
      if (element == status_value) {
        option.selected = true;
      }
      selectList.append(option);
    });
    tr[row_number].getElementsByTagName("td")[2].replaceWith(td2);

    var current_description =
            tr[row_number].getElementsByTagName("td")[1].innerHTML;
            console.log()

          /// create select and append options for zones.
          var description = document.createElement("input");
          description.id = "description";
          description.className = "form-control";
          description.value = current_description;
          td1.append(description);

          tr[row_number].getElementsByTagName("td")[1].replaceWith(td1);
          var current_title =
            tr[row_number].getElementsByTagName("td")[0].innerHTML;

         

          /// change colors for disable buttons in all rows.
          for (var i = 0; i < tr.length; i++) {
            if (tr[i] == tr[row_number]) {
              $(tr[i]).find(".delete").addClass("text-secondary");
            } else {
              $(tr[i]).find(".zone_edit").addClass("text-secondary");
              $(tr[i]).find(".delete").addClass("text-secondary");
            }
          }

        }
});

const update_info = ((row) =>{
var row_number = row.parentNode.parentNode.rowIndex;
   /// remove add/update button and display edit button.
   var description = document.getElementById("description").value;
        if (description) {
tr[row_number]
  .getElementsByTagName("td")[3]
  .children.namedItem("edit").style.display = "inline-block";
tr[row_number]
  .getElementsByTagName("td")[3]
  .children.namedItem("add").style.display = "none";

  /// change colors for enabled buttons in all rows.

 for (var i = 0; i < tr.length; i++) {
            $(tr[i]).find(".zone_edit").removeClass("text-secondary");
            $(tr[i]).find(".delete").removeClass("text-secondary");
          }


/// fetching values of edited status.
var selectBox = document.getElementById("Select_status");
var status = selectBox.options[selectBox.selectedIndex].value;

const cityDataSet = JSON.parse(`<%-JSON.stringify(companyPromotions)%>`);
var promTitle = tr[row_number].getElementsByTagName("td")[0].innerText;

const prom_uuid= cityDataSet.find((data) => data.comp_prom_name=== promTitle).comp_prom_uuid

$.ajax({
            type: "POST",
            url: `${window.location.origin}/editPromotion/<%=info.uuid%>`,
            data: { prom_uuid, description, status },
            dataType: "json",
            error: (error) => {
              if (error) {
                console.error(error);
                toastr.error("There is an error while Allocating new Status");
              }
            },
            success: (response) => {
              if (response) {
                console.log(response);
                toastr.success("Status Allocated to Zone");
                location.reload(true);
              }
            },
          });


        }
 });    

 const delete_info = ((row)=> {
  var row_number = row.parentNode.parentNode.rowIndex;
  /// if no row is  already being edited 
  if (document.getElementById("Select_status") == null) {
   var promTitle = tr[row_number].getElementsByTagName("td")[0].innerText;
   const cityDataSet = JSON.parse(`<%-JSON.stringify(companyPromotions)%>`);
    const prom_uuid= cityDataSet.find((data) => data.comp_prom_name=== promTitle).comp_prom_uuid

    $.ajax({
            type: "POST",
            url: `${window.location.origin}/deletePromotion/<%=info.uuid%>`,
            data: { prom_uuid },
            dataType: "json",
            error: (error) => {
              if (error) {
                console.error(error);
                toastr.error("There is an error while deleting promotion");
              }
            },
            success: (response) => {
              if (response) {
                console.log(response);
                toastr.success("Promotion deleted Successfully");
                location.reload(true);
              }
            },
          });

  }

 });


 const AddInTable = (()=> {
  var promTitle = document.getElementById("dep_name").value;
        var description = document.getElementById("dep_purpose").value;
        var status = document.getElementById("status").value;
/// if no row is  already being edited 
  if (document.getElementById("Select_status") == null) {

        if (promTitle,description) {
          $.ajax({
            type: "POST",
            url: `${window.location.origin}/addPromotion/<%=info.uuid%>`,
            data: {promTitle, description,status },
            dataType: "json",
            error: (error) => {
              if (error) {
                console.error(error);
                toastr.error("There is an error while adding promotion");
              }
            },
            success: (response) => {
              if (response) {
                console.log(response);
                toastr.success("Promotion Added Successfully");
                location.reload(true);
              }
            },
          });
        
        
        }
      }


 });
    </script>

<script>
    var notificationCount = JSON.parse(
     `<%-JSON.stringify(unreadNotificationCount)%>`
   );
  
   if (notificationCount) {
   $(".button__badge").css("display", "block");
   $(".button__badge").html(
     JSON.parse(`<%-JSON.stringify(unreadNotificationCount)%>`)
   );
  }
  $(".js-tilt").tilt({
   scale: 1.1,
  });
  
  var menu = document.getElementById("menu");
  
  function openMenu() {
   menu.style.top = "0";
  }
  function closeMenu() {
   menu.style.top = "-100vh";
  }                    
              
  </script>


  </body>
</html>
