<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      href="<%=url%>/vendor/bootstrap/css/bootstrap.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="<%=url%>/fonts-1/font-awesome-4.7.0/css/font-awesome.css"
    />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="<%=url%>/css/main.css" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="<%=url%>/css/style_2.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="<%=url%>/toastr/toastr.min.css"
    />
    <!--===============================================================================================-->
  </head>

  <style>
    #nameInput {
      visibility: hidden;
      opacity: 0;
      transition: visibility 0s linear 0.5s, opacity 0.5s linear;
    }

    #nameInput.show {
      visibility: visible;
      opacity: 1;
      transition-delay: 0.4s;
    }
    #emailInput {
      visibility: hidden;
      opacity: 0;
      transition: visibility 0s linear 0.5s, opacity 0.5s linear;
    }

    #emailInput.show {
      visibility: visible;
      opacity: 1;
      transition-delay: 0.4s;
    }
  </style>

  <body>
    <div class="limiter">
      <div class="container-profile100">
        <div class="header w-100">
          <div class="cover-image100">
            <img src="<%=url%>/logo/logo.png" class="pep-logo" alt="" />
            <a href="#">
              <span class="fa fa-bars menu-button" onclick="openMenu()"></span>
            </a>
            <a href="<%=url%>/generalManager/notification">
              <span class="fa fa-bell menu-button">
                <span class="button__badge" style="display: none"></span>
              </span>
            </a>
            <nav id="menu">
              <ul>
                <% permissions.forEach(element=> { %>
                <li>
                  <a
                    href="<%=url%>/generalManager<%= element.controller%>/<%=info.uuid%>"
                  >
                    <span class="<%= element.icon%>"></span>
                    <%= element.permission_name %>
                  </a>
                </li>
                <% }); %>
                <li>
                  <a href="<%=url%>/generalManager/signout">
                    <span class="fa fa-sign-out"> </span> Log Out</a
                  >
                </li>
              </ul>
              <span class="fa fa-times close-menu" onclick="closeMenu()"></span>
            </nav>
          </div>

          <!-- --------------------------- -->
          <div class="container salesup">
              <h4 class="col-12 text-center m-auto">Managers</h4>

             <div class="row mt-3 mx-1  " >
              <div class="col">
                <div class="row">
                  <div class="col col-md-4 col-lg-4 col-xl-4">
                    <input
                      type="radio"
                      id="name"
                      name="searchType"
                      aria-label="Radio button for following text input"
                    />
                    <label for=""> Search By Name </label>
                  </div>
               
                <input
                  id="nameInput"
                  type="text"
                  onkeyup="searchMember()"
                  class="col col-md-4=8 col-lg-8 col-xl-8 form-control cardsection"
                  aria-label="Text input with checkbox"
                />
              </div>
            </div>
              <div class="col">
                <div class="row">
                  <div class="col col-md-4 col-lg-4 col-xl-4">
                  <input 
                    type="radio"
                    id="email"
                    name="searchType"
                    aria-label="Radio button for following text input"
                  />
                  <label for=""> Search By Email </label>
                </div>
                <input
                
                  id="emailInput"
                  type="text"
                  onkeyup="searchMember()"
                  class="col col-md-4=8 col-lg-8 col-xl-8 form-control cardsection"
                  aria-label="Text input with checkbox"
                />
              </div>
            </div>
            </div>


<div class="table-responsive my-4">
            <table class="table text-nowrap" id="executiveTable" cellspacing="1">
              <thead class="table-primary">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Name</th>
                  <th scope="col">Email</th>
                  <th scope="col">Phone</th>
                  <th scope="col">Join Since</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <%teamMember.forEach((member,index) =>{ %>
                <tr>
                  <th scope="row"><%=++index %></th>
                  <td><%= member.man_name %></td>
                  <td><%= member.User_Login_Information.login_email %></td>
                  <td><%= member.man_contact %></td>
                  <td><%= member.User_Login_Information.createdAt %></td>
                  <td>
                    <button
                      type="button"
                      class="btn btn-outline-danger"
                      value="<%= member.man_uuid %>"
                      onclick="removeMembertoTeam(this.value)"
                    >
                      <i class="fa fa-minus-circle" aria-hidden="true"></i>
                    </button>
                  </td>
                </tr>
                <% })%>
              </tbody>
            </table>
          </div>
          </div>


        </div>
      </div>
    </div>

    <script src="<%=url%>/js/jquery.min.js"></script>
    <script src="<%=url%>/bootstrap/js/bootstrap.min.js"></script>
    <!-- Toastr -->
    <!--===============================================================================================-->
    <script src="<%=url%>/vendor/jquery/tilt.jquery.min.js"></script>
    <script src="<%=url%>/toastr/toastr.min.js"></script>

    <script>
      function pagination() {
        //   $('#data').after('<div id="nav" class="text-center"></div>');
        var rowsShown = 10;
        var rowsTotal = $("#executiveTable tbody tr").length;
        if (rowsShown < rowsTotal) {
          $("#executiveTable").after(
            '<div id="nav" class="text-center" ></div>'
          );
          var numPages = rowsTotal / rowsShown;
          for (i = 0; i < numPages; i++) {
            var pageNum = i + 1;
            $("#nav").append(
              '<a href="#" rel="' + i + '">' + pageNum + "</a> "
            );
          }
          $("#executiveTable tbody tr").hide();
          $("#executiveTable tbody tr").slice(0, rowsShown).show();
          $("#nav a").bind("click", function () {
            var currPage = $(this).attr("rel");
            var startItem = currPage * rowsShown;
            var endItem = startItem + rowsShown;
            $("#executiveTable tbody tr")
              .css("opacity", "0.0")
              .hide()
              .slice(startItem, endItem)
              .css("display", "table-row")
              .animate(
                {
                  opacity: 1,
                },
                300
              );
          });
        }
      }

      window.onload = () => {
        pagination();
      };

      var emailRadio = document.getElementById("email"),
        nameRadio = document.getElementById("name");

      nameRadio.onchange = function () {
        if (nameRadio.checked === true) {
          document.getElementById("nameInput").classList.add("show");
          document.getElementById("emailInput").classList.remove("show");
        }
      };

      emailRadio.onchange = function () {
        if (emailRadio.checked === true) {
          document.getElementById("emailInput").classList.add("show");
          document.getElementById("nameInput").classList.remove("show");
        }
      };

      var notificationCount = JSON.parse(
        `<%-JSON.stringify(unreadNotificationCount)%>`
      );
      if (notificationCount) {
        $(".button__badge").css("display", "block");
        $(".button__badge").html(notificationCount);
      }
      $(".js-tilt").tilt({
        scale: 1.1,
      });

      var menu = document.getElementById("menu");

      function openMenu() {
        menu.style.top = "0";
      }
      function closeMenu() {
        menu.style.top = "-100vh";
      }

      function searchMember() {
        var input, filter, table, tr, td, i, txtValue;
        let radioButton = $("#name").prop("checked") ? 0 : 1;
        input = $("#name").prop("checked") ? $("#nameInput") : $("#emailInput");
        filter = input[0].value.toUpperCase();
        table = document.getElementById("executiveTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
          td = tr[i].getElementsByTagName("td")[radioButton];
          if (td) {
            txtValue = td.textContent || td.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
              tr[i].style.display = "";
            } else {
              tr[i].style.display = "none";
            }
          }
        }
      }

      function removeMembertoTeam(id) {
        if (findID(id)) {
          $.ajax({
            type: "PUT",
            url: `${window.location.origin}/removeManagerfromteam`,
            data: { id },
            dataType: "json",
            error: (error) => {
              if (error) {
                toastr.error("Please try again");
              }
            },
            success: (response) => {
              console.log(response);
              if (response) {
                toastr.success("Successfully Removed the member");
              }
            },
          });
        } else {
          toastr.error("Invalid ID, Try Again");
        }
      }

      const findID = (id) => {
        const data = JSON.parse(`<%-JSON.stringify(teamMember)%>`);
        return data.find((member) => member.man_uuid === id);
      };
    </script>
  </body>
</html>
