<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Manage Zones</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.css"
    />
    <script src="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.js"></script>

    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="<%=url%>/vendor/bootstrap/css/bootstrap.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="<%=url%>/fonts-1/font-awesome-4.7.0/css/font-awesome.css"
    />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="<%=url%>/css/main.css" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="<%=url%>/css/style_2.css" />
      <!--===============================================================================================-->
      <link rel="stylesheet" type="text/css" href="<%=url%>/css/Editmanager.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="<%=url%>/toastr/toastr.min.css"
    />
    <!--===============================================================================================-->
  </head>

  <body>
    <div class="limiter">
      <div class="container-profile100">
        <div class="header w-100">
          <div class="cover-image100">
            <img src="<%=url%>/logo/logo.png" class="pep-logo" alt="" />
            <a href="#">
              <span class="fa fa-bars menu-button" onclick="openMenu()"></span>
            </a>
            <a href="<%=url%>/generalManager/notification">
              <span class="fa fa-bell menu-button">
                <span class="button__badge" style="display: none"></span>
              </span>
            </a>
            <nav id="menu">
              <ul>
                <% permissions.forEach(element=> { %>
                <li>
                  <a
                    href="<%=url%>/generalManager<%= element.controller%>/<%=info.uuid%>"
                  >
                    <span class="<%= element.icon%>"></span>
                    <%= element.permission_name %>
                  </a>
                </li>
                <% }); %>
                <li>
                  <a href="<%=url%>/generalManager/signout">
                    <span class="fa fa-sign-out"> </span> Log Out</a
                  >
                </li>
              </ul>
              <span class="fa fa-times close-menu" onclick="closeMenu()"></span>
            </nav>
          </div>

       
          <div class="container salesup">
            <h3 class="col-12 text-center m-auto">Manage Zones</h3>
            </div>
            <div class="container " id="container_table">
              <div class="table-responsive" >
                <div class="table-wrapper">
                    </div> 
                  </div>
                  <table class="table table-bordered" id="ManageZones">
                    <thead class="table-primary">
                      <tr>
                        <th scope="col">Zones</th>
                        <th scope="col">Status</th>
                        <th scope="col">Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% Zone.forEach(zone => { %>

                      <tr>
                          <td>
                            <label 
                           value="<%= zone.zone_uuid %>">
                            <%= zone.zone_name %>
                          </label>
                          </td>
                          <td class="form-group pt-2 mt-0 ">

                          <% if(zone.paused== 0){ %>
                              <i
                                class="fa fa-circle text-success status pt-0 mt-0"
                              ></i>
                          <label class="active_icon pt-0 mb-0 mt-0"
                            >Active</label
                          >
                      
                          <% }else{ %>
                            <i class="fa fa-circle text-danger status pt-0 mt-0"></i>
                            <label class="active_icon pt-0 mb-0 mt-0">Paused</label>
                         <% } %>
                        </td>
                        
                        <td class="pt-1 text-center">
                          <a
                            class="add"
                            name="add"
                            title="Add"
                            onclick="update_info(this)"
                            ><i class="fa fa-save pt-0"></i
                          ></a>
                          <a
                            class="zone_edit text-center"
                            name="edit"
                            id="edit"
                            title="Edit"
                            data-toggle="tooltip"
                            onclick="edit_info(this)"
                            ><i class="fa fa-edit pt-0"></i
                          ></a>
                        
                        </td>
                      </tr>
                      <% }) %>

                    
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <script src="<%=url%>/vendor/jquery/jquery-3.2.1.min.js"></script>
      <!--===============================================================================================-->
      <script src="<%=url%>/vendor/bootstrap/js/popper.min.js"></script>
      <script src="<%=url%>/vendor/bootstrap/js/bootstrap.min.js"></script>
      <!--===============================================================================================-->
      <script src="<%=url%>/vendor/jquery/tilt.jquery.min.js"></script>
  
      <script src="<%=url%>/toastr/toastr.min.js"></script>
    <script>
      var selectList, status_value;
      var tr = document.getElementById("ManageZones").getElementsByTagName("tr");

      const edit_info = ((row)=> {
      var row_number = row.parentNode.parentNode.rowIndex;
  /// if no row selected already, only then edit selected row
  if (document.getElementById("Select_status") == null) {

       /// remove edit button and display add button, so user can update manager info.
          tr[row_number].getElementsByTagName("td")[2].children.namedItem("add").style.display = "inline-block";
          tr[row_number]
            .getElementsByTagName("td")[2]
            .children.namedItem("edit").style.display = "none";
           
          //fetching current status
          status_value = tr[row_number]
            .getElementsByTagName("td")[1]
            .children.item(1).innerText;
           var td = document.createElement("td");

          /// create select and append options for status.
          selectList = document.createElement("select");
          selectList.id = "Select_status";
          selectList.className = "form-control";
          td.append(selectList);

           // puting both status in array
           var array = ["Active", "Paused"];
          // adding options in select
          array.forEach((element, index) => {
            var option = document.createElement("option");
            option.value = element;
            option.text = element;
            //selecting current option by default
            if (element == status_value) {
              option.selected = true;
            }
            selectList.append(option);
          });
          tr[row_number].getElementsByTagName("td")[1].replaceWith(td);
     
               /// change colors for disable buttons in all rows.
          for (var i = 0; i < tr.length; i++) {
              $(tr[i]).find(".zone_edit").addClass("text-secondary");
            }
          }
      });
      const update_info = ((row) =>{

        var row_number = row.parentNode.parentNode.rowIndex;
           /// remove add/update button and display edit button.
        tr[row_number]
          .getElementsByTagName("td")[2]
          .children.namedItem("edit").style.display = "inline-block";
        tr[row_number]
          .getElementsByTagName("td")[2]
          .children.namedItem("add").style.display = "none";

          /// change colors for enabled buttons in all rows.
        for (var i = 0; i < tr.length; i++) {
          $(tr[i]).find(".zone_edit").removeClass("text-secondary");
        }

        const cityDataSet = JSON.parse(`<%-JSON.stringify(Zone)%>`);
        
        /// fetching values of edited status and zone.
        var selectBox = document.getElementById("Select_status");
        var selectedValue = selectBox.options[selectBox.selectedIndex].value;

        var selectedZone = tr[row_number].getElementsByTagName("td")[0].innerText;
        const Zone_uuid= cityDataSet.find((data) => data.zone_name=== selectedZone).zone_uuid;
          if(Zone_uuid ){
            $.ajax({
            type: "POST",
            url: `${window.location.origin}/changeZoneStatus/<%=info.uuid%>`,
            data: { Zone_uuid, selectedValue },
            dataType: "json",
            error: (error) => {
              if (error) {
                console.error(error);
                toastr.error("There is an error while Allocating new Status");
              }
            },
            success: (response) => {
              if (response) {
                console.log(response);
                toastr.success("Status Allocated to Zone");
                location.reload(true);
              }
            },
          });
}

else {
          toastr.error("Please Try Again");
          return;
        }
});    
      
    </script>

<script>
  var notificationCount = JSON.parse(
   `<%-JSON.stringify(unreadNotificationCount)%>`
 );

 if (notificationCount) {
 $(".button__badge").css("display", "block");
 $(".button__badge").html(
   JSON.parse(`<%-JSON.stringify(unreadNotificationCount)%>`)
 );
}
$(".js-tilt").tilt({
 scale: 1.1,
});

var menu = document.getElementById("menu");

function openMenu() {
 menu.style.top = "0";
}
function closeMenu() {
 menu.style.top = "-100vh";
}                    
            
</script>

  </body>
</html>
