<!DOCTYPE html>
<html lang="en">

<head>
    <title>Zone Report </title>
     <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--===============================================================================================-->
    <!-- <link rel="icon" type="image/png" href="images/icons/favicon.ico"/> -->
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="<%=url%>/vendor/bootstrap/css/bootstrap.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="<%=url%>/fonts-1/font-awesome-4.7.0/css/font-awesome.css"
    />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="<%=url%>/css/main.css" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="<%=url%>/css/style_2.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="<%=url%>/toastr/toastr.min.css"
    />

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
  </head>



</head>

<body>
    <div class="limiter">
        <div class="container-profile100">
          <div class="header w-100">
            <div class="cover-image100">
              <img src="<%=url%>/logo/logo.png" class="pep-logo" alt="" />
              <a href="#">
                <span class="fa fa-bars menu-button" onclick="openMenu()"></span>
              </a>
              <a href="<%=url%>/generalManager/notification">
                <span class="fa fa-bell menu-button">
                  <span class="button__badge" style="display: none"></span>
                </span>
              </a>
              <nav id="menu">
                <ul>
                  <% permissions.forEach(element=> { %>
                  <li>
                    <a
                      href="<%=url%>/generalManager<%= element.controller%>/<%=info.uuid%>"
                    >
                      <span class="<%= element.icon%>"></span>
                      <%= element.permission_name %>
                    </a>
                  </li>
                  <% }); %>
                  <li>
                    <a href="<%=url%>/generalManager/signout">
                      <span class="fa fa-sign-out"> </span> Log Out</a
                    >
                  </li>
                </ul>
                <span class="fa fa-times close-menu" onclick="closeMenu()"></span>
              </nav>
            </div>
            <!-- --------------------- -->
            <!-- advertisment,
          cityNames, -->
            <!-- --------------------------- -->
            <div class="container salesup">
              <h3 class="col-12 text-center m-auto">Zone Reports</h3>

                        <div class="row  mt-5 p-lg-4 background_border py-3 m-0">
                            <div class="col container ">
                                <form class="form-group ">
                                    <div class="d-inline-block label_margin">
                                        Select Zone
                                    </div>
                                    <div class="d-inline-block w-75 ml-lg-2 ">
                                        <select type="text" class="form-control  select_width" id="zone_name" 
                                         />
                                     <option selected disabled value="null">Choose One</option>
                                     <% ZoneInfo.forEach(zone => { %>
                                        <option value="<%= zone.zone_uuid %>">
                                          <%= zone.zone_name %>
                                        </option>
                                        <% }) %>
                                           
                                      </select>
                                    </div>
                                </form>
                            </div>
                            <div class="col">
                                <form class="form-group ">
                                    <div class="d-inline-block label_margin">
                                        Select City 
                                    </div>
                                    <div class="d-inline-block w-75 ml-lg-2 ">
                                        <select type="text" class="form-control  select_width" id="selectCity" 
                                        >
                                            <option selected disabled value="null">Select Zone First</option>
                                         
</select>
                                    </div>
                                </form>
                            </div>

                        </div>
                                   

                    <div class="row mb-2 mt-3">
                          <canvas
                            id="activitiesPerMonth"
                            width="450"
                            height="150"
                          ></canvas>
                          <canvas id="agencyPerMonth" width="450" height="150"></canvas>
                          <canvas id="cancelPerMonth" width="450" height="150"></canvas>
                      </div>
                    </div>
             
            </div>
        </div>
    </div>


    <script src="<%=url%>/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="<%=url%>/vendor/bootstrap/js/popper.min.js"></script>
    <script src="<%=url%>/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="<%=url%>/vendor/jquery/tilt.jquery.min.js"></script>
    <script src="<%=url%>/js/chart.js "></script>

    <script src="<%=url%>/toastr/toastr.min.js"></script>
    <script>
  var activitiesPerMonth_ID = document
          .getElementById("activitiesPerMonth")
          .getContext("2d"),
        agencyPerMonth_ID = document
          .getElementById("agencyPerMonth")
          .getContext("2d"),
        cancelPerMonth_ID = document
          .getElementById("cancelPerMonth")
          .getContext("2d")
        

      /**
       *
       * Setting the charts to those canvas
       */
      var activitiesPerMonth_Chart = new Chart(activitiesPerMonth_ID, {
        type: "line",
        data: {
          labels: [],
          datasets: [
            {
              label: "Actitivies Per Month",
              data: [],
              backgroundColor: [
                "rgba(255, 99, 132, 0.5)",
                "rgba(54, 162, 235, 0.5)",
                "rgba(255, 206, 86, 0.5)",
                "rgba(75, 192, 192, 0.5)",
                "rgba(153, 102, 255, 0.5)",
                "rgb(221, 170, 74,0.5)",
                "rgba(126, 175, 48, 0.5)",
                "rgba(54, 87, 54,0.3)",
                "rgba(116, 116, 243,0.3)",
                "rgba(250, 127, 83,0.3)",
                "rgba(83, 150, 250,0.4)",
                " rgba(211, 83, 250,0.4)",
              ],
              borderColor: [
                "rgba(255, 99, 132, 1)",
                "rgba(54, 162, 235, 1)",
                "rgba(255, 206, 86, 1)",
                "rgba(75, 192, 192, 1)",
                "rgba(153, 102, 255, 1)",
                "rgba(255, 159, 64, 1)",
                "rgba(126, 175, 48, 1)",
                "rgba(54, 87, 54,1)",
                "rgb(116, 116, 243, 1)",
                "rgba(250, 127, 83,1)",
                "rgba(83, 150, 250,1)",
                "rgba(211, 83, 250,1)",
              ],
              borderWidth: 1,
            },
          ],
        },
        options: {
          plugins: {
            title: {
              display: true,
              // text: "Custom Chart Title"
            },
          },
          scales: {
            y: {
              beginAtZero: true,
              suggestedMax: 100,
            },
          },
        },
      });
      var agencyPerMonth_Chart = new Chart(agencyPerMonth_ID, {
        type: "bar",
        data: {
          labels: [],
          datasets: [
            {
              label: "Agency Per Month",
              data: [],
              backgroundColor: [
                "rgba(255, 99, 132, 0.5)",
                "rgba(54, 162, 235, 0.5)",
                "rgba(255, 206, 86, 0.5)",
                "rgba(75, 192, 192, 0.5)",
                "rgba(153, 102, 255, 0.5)",
                "rgb(221, 170, 74,0.5)",
                "rgba(126, 175, 48, 0.5)",
                "rgba(54, 87, 54,0.3)",
                "rgba(116, 116, 243,0.3)",
                "rgba(250, 127, 83,0.3)",
                "rgba(83, 150, 250,0.4)",
                " rgba(211, 83, 250,0.4)",
              ],
              borderColor: [
                "rgba(255, 99, 132, 1)",
                "rgba(54, 162, 235, 1)",
                "rgba(255, 206, 86, 1)",
                "rgba(75, 192, 192, 1)",
                "rgba(153, 102, 255, 1)",
                "rgba(255, 159, 64, 1)",
                "rgba(126, 175, 48, 1)",
                "rgba(54, 87, 54,1)",
                "rgb(116, 116, 243, 1)",
                "rgba(250, 127, 83,1)",
                "rgba(83, 150, 250,1)",
                "rgba(211, 83, 250,1)",
              ],
              borderWidth: 1,
            },
          ],
        },
        options: {
          scales: {
            y: {
              beginAtZero: true,
              suggestedMax: 100,
            },
          },
        },
      });
      var cancelPerMonth_Chart = new Chart(cancelPerMonth_ID, {
        type: "doughnut",
        data: {
          labels: [],
          datasets: [
            {
              label: "Cancelled Activities Per Month",
              data: [],
              backgroundColor: [
                "rgba(255, 99, 132, 0.5)",
                "rgba(54, 162, 235, 0.5)",
                "rgba(255, 206, 86, 0.5)",
                "rgba(75, 192, 192, 0.5)",
                "rgba(153, 102, 255, 0.5)",
                "rgb(221, 170, 74,0.5)",
                "rgba(126, 175, 48, 0.5)",
                "rgba(54, 87, 54,0.3)",
                "rgba(116, 116, 243,0.3)",
                "rgba(250, 127, 83,0.3)",
                "rgba(83, 150, 250,0.4)",
                " rgba(211, 83, 250,0.4)",
              ],
              borderColor: [
                "rgba(255, 99, 132, 1)",
                "rgba(54, 162, 235, 1)",
                "rgba(255, 206, 86, 1)",
                "rgba(75, 192, 192, 1)",
                "rgba(153, 102, 255, 1)",
                "rgba(255, 159, 64, 1)",
                "rgba(126, 175, 48, 1)",
                "rgba(54, 87, 54,1)",
                "rgb(116, 116, 243, 1)",
                "rgba(250, 127, 83,1)",
                "rgba(83, 150, 250,1)",
                "rgba(211, 83, 250,1)",
              ],
              borderWidth: 1,
            },
          ],
        },
        options: {
          plugins: {
            title: {
              display: true,
              text: "Cancel Activities Per Month",
            },
          },
          scales: {
            y: {
              beginAtZero: true,
              suggestedMax: 100,
            },
          },
          //this aspect ratio will make the height and width of the donut
          aspectRatio: 3,
        },
      });

    /// populate cities w.r.t zones
      $("#zone_name").change((e) => {
        var zone_uuid= $("#zone_name").find(":selected").val()
        var citynames = document.getElementById('selectCity');
        $("#selectCity option:not(:first)").remove();
        $("#selectCity").val($("#selectCity option:first").val());

        const dataSet = JSON.parse(`<%-JSON.stringify(ZoneInfo)%>`);

        const zone_selected= dataSet.find((data) => data.zone_uuid=== zone_uuid)
        zone_selected.Cities.forEach(city => {
          var option = document.createElement('option');
          option.value =  city.city_uuid
          option.innerText =  city.city_name 
          citynames.options.add(option);

        })
        
      });

      $("#selectCity").change((e) => {
        const cityDataSet = JSON.parse(`<%-JSON.stringify(ZoneInfo)%>`);

    
          if (
          cityValueValidater(
            cityDataSet,
            $("#selectCity").find(":selected").val()
          )
        ) {
          //making the ajax call to fetch the data from the server
          let cityUUID = $("#selectCity").find(":selected").val()
          $.ajax({
            type: "POST",
            dataType: "json",
            url: `${window.location.origin}/getCityAnalytics/${cityUUID}/<%=info.uuid%>`,
            error: (error) => {
              if (error) {
                toastr.error(error);
                console.error(error);
              }
            },

            success: (response) => {
             console.log(response)
              const {
                activitiesPerMonth,
                agencyCount,
                cancelledactivitiesPerMonth,
              } = response;
              if (response.status==="Displaying the Data") {
                 {
                   toastr.success(response.status);
                  //displaying the activity per month
                  activitiesPerMonth_Chart.data.labels = activitiesPerMonth.map(
                    (activity) => activity.moonth + " " + activity.Year
                  );
                  activitiesPerMonth_Chart.data.datasets[0].data =
                    activitiesPerMonth.map(
                      (activity) => activity.activitiesPerMonth
                    );
                  activitiesPerMonth_Chart.update();
                  //end of activity per month

                  // //displaying the agency per month

                  agencyPerMonth_Chart.data.labels = agencyCount.map(
                    (activity) => activity.moonth + " " + activity.Year
                  );
                  agencyPerMonth_Chart.data.datasets[0].data = agencyCount.map(
                    (activity) => activity.agencyCount
                  );
                  agencyPerMonth_Chart.update();

                  //end of agency per month

                  //displaying the cancel activities per month

                  cancelPerMonth_Chart.data.labels =
                    cancelledactivitiesPerMonth.map(
                      (activity) => activity.moonth + " " + activity.Year
                    );
                  cancelPerMonth_Chart.data.datasets[0].data =
                    cancelledactivitiesPerMonth.map(
                      (activity) => activity.cancelledactivitiesPerMonth
                    );
                  cancelPerMonth_Chart.update();
                  //end of cancel activities per month
                }
              }
              else if(response.status==="Not Found"){
                // if no rcord found empty chart

                //displaying the activity per month
                activitiesPerMonth_Chart.data.datasets[0].data =[]
                activitiesPerMonth_Chart.data.labels = ""
                activitiesPerMonth_Chart.update();

                 //end of activity per month

                  // //displaying the agency per month

                  agencyPerMonth_Chart.data.labels = ""
                  agencyPerMonth_Chart.data.datasets[0].data = []
                  agencyPerMonth_Chart.update();

                  //end of agency per month

                  //displaying the cancel activities per month

                  cancelPerMonth_Chart.data.labels =""
                  cancelPerMonth_Chart.data.datasets[0].data =[]
                  cancelPerMonth_Chart.update();
                  //end of cancel activities per month

              }
                else {
                  toastr.error(response.message);
                 }
              }
          //  },
          });
        } else {
          toastr.error("Invalid City selected");
          return;
        }
      });

      const cityValueValidater = (dataSet,value) => {
    
       var zone_uuid= $("#zone_name").find(":selected").val()
       const zone_cities= dataSet.find((data) => data.zone_uuid=== zone_uuid).Cities
        return zone_cities.find((city)=> city.city_uuid=== value)

      };

</script>

<script>
         var notificationCount = JSON.parse(
          `<%-JSON.stringify(unreadNotificationCount)%>`
        );
    

        if (notificationCount) {
        $(".button__badge").css("display", "block");
        $(".button__badge").html(
          JSON.parse(`<%-JSON.stringify(unreadNotificationCount)%>`)
        );
      }
      $(".js-tilt").tilt({
        scale: 1.1,
      });

      // console.log(JSON.parse(`%-JSON.stringify(advertisment)%>`));
      var menu = document.getElementById("menu");

      function openMenu() {
        menu.style.top = "0";
      }
      function closeMenu() {
        menu.style.top = "-100vh";
      }                    
               
                
    </script>
</body>

</html>